@import "reset.css";
@import "input-range.css";

.one {
    height: 1.2rem;
    animation: waves 1s linear 0.2s infinite;
}
.two {
    height: 0.4rem;
    animation: waves 1s linear 0.4s infinite;
}
.three {
    height: 0.8rem;
    animation: waves 1s linear 0.6s infinite;
}
.four {
    height: 0.4rem;
    animation: waves 1s linear 0.8s infinite;
}
.paused {
    -webkit-animation-play-state: paused!important;
    animation-play-state: paused!important;
}
.playing {
    -webkit-animation-play-state: running!important;
    animation-play-state: running!important;
}
.rotate{
    animation: pic_rotate 10s linear 0s infinite;
}
@keyframes waves{
    20% {
        height: 0.2rem;
    }
    40% {
        height: 0.4rem;
    }
    60% {
        height: 0.6rem;
    }
    80% {
        height: 0.4rem;
    }
    100% {
        height: 0.2rem;
    }
}


@keyframes pic_rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.el-tabs__item{
    width: 2.5rem;
    text-align: center;
    height: 1.2rem;
    font-size: 0.4rem;
    line-height: 1.2rem;
    color:#333;
}
.el-tabs__item.is-active{
    color:#e9203d;
    border-bottom-color: #e9203d!important;
}
.el-slider__runway{
    height: 0.1rem;
    background-color: #fff;
}
.el-slider__button{
    width: 0.4rem;
    height: 0.4rem;
    background-color:  #e9203d;
    border-radius: 50%;
}
.el-slider__bar{
    background-color:  #e9203d;
    height: 0.1rem;
}
.el-tabs__active-bar{
    background-color:  #e9203d;
}
