<!DOCTYPE html>
<html>
<head>
	<title>react-music</title>
	<!-- <meta name=viewport content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
	<!-- <meta name="flexible" content="initial-dpr=2" /> -->
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_664327_6we0y89hfn31h5mi.css">
	<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
</head>
<body>
<div id="root"></div>
</body>
</html>